@model PKFAuditManagement.ViewModels.QuizViewModel


<div class="form-container">
    <h5>Excel Quiz Creation</h5>
    <form id="uploadForm" enctype="multipart/form-data">
        <div class="form-group">
            <label for="ExcelQuizUpload">Upload Quiz via Excel</label>
            <input type="file" class="form-control" id="ExcelQuizUpload" accept=".xlsx" required />
        </div>
        <button type="button" class="btn btn-primary" onclick="processExcel()">Upload and Extract Quiz</button>
    </form>
</div>
