@model PKFAuditManagement.ViewModels.QuizViewModel

<div class="form-container">
    <h5>Excel Quiz Creation</h5>
    <form asp-action="CreateExcelQuiz" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="ExcelFile">Upload Quiz via Excel</label>
            <input type="file" class="form-control" id="ExcelFile" name="ExcelFile" accept=".xlsx" required />
        </div>
        <button type="submit" class="btn btn-primary">Upload and Create Quiz</button>
    </form>
</div>
