@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "_Layout"; // Ensure this is your main layout file
}

<main id="main" class="main">

    <div class="pagetitle">
        <h1 style="margin-bottom: 1em;">@ViewData["Title"]</h1>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <form id="forgot-password-form" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                            <div class="form-group mb-3">
                                <label asp-for="Input.Email">Email</label>
                                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Please enter your email." />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-primary mr-2">Reset Password</button>
                            </div>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> <!-- Ensure SweetAlert2 is included -->

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            //var emailSent = @Html.Raw(Json.Serialize(TempData["EmailSent"] ?? "false"));
            var successMessage = '@TempData["EmailSent"]';

            if (successMessage) {
                // Show SweetAlert2 success message
                Swal.fire({
                    icon: 'success',
                    title: 'Success',
                    text: 'If an account with that email exists, a password reset link has been sent.',
                    confirmButtonText: 'OK'
                });
            }
        });
    </script>
}
